[Unit]
Description=BlueDonkey Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/opt/bluedonkey/bluedonkey.py
CPUQuota=70%

[Install]
WantedBy=multi-user.target
