[Unit]
Description=BlueDonkey Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/opt/bluedonkey/bluedonkey_run.sh

[Install]
WantedBy=multi-user.target
